<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myboot02.service.UserService">


	<insert id="addUser" parameterType="com.myboot02.domain.User">
	
	insert into users(userName, userId, password, nickname , email, certificationNo)
	values('${userName}','${userId}','${password}','${nickname}','${email}','${certificationNo}')

	</insert>

	<select id="login" parameterType="com.myboot02.domain.User">
	select userName, userId, password, nickname, email
	from users
	where userId = '${value}'
	</select>

	
</mapper>